<div class="mat-elevation-z8">
  <mat-table [dataSource]="tableData">

  	<ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }} 
	    		<app-input-filter 
	    			*ngIf="dataType[col] === 'string' || dataType[col] === 'number' || dataType[col] === 'Array'"
	    			[column]="col" 
	    			[data-map]="dataMap" 
	    			[query-data-subject]="queryDataSubject">		
	    		</app-input-filter>
	    		<select [hidden]="dataType[col] !== 'boolean'" (change)="queryByBoolean($event.target.value)">
				    <option 
				    	*ngFor="let order of [{display: '', value: ''}, {display: 'Yes', value: true}, {display: 'No', value: false}];"
				    	bindValue="value">
				      {{order.display}}
				    </option>
			    </select>
	    	<app-is-null 
	    	    *ngIf="dataType[col] !== 'date'"
	    		[column]="col" 
	    		[data-map]="dataMap" 
	    		[query-data-subject]="queryDataSubject">
	    	</app-is-null>

		    <span [hidden]="dataType[col] !== 'date'">
				<app-date-filter
					[data-map]="dataMap"
					[column]="col"
					[query-data-subject]="queryDataSubject">	
				</app-date-filter>
		    </span>
	    </th>
	    <span *ngIf="dataType[col] !== 'date' && dataType[col] !== 'boolean'">
	    	<td mat-cell *matCellDef="let element">{{ element[col] }} </td>
		</span>
		<span *ngIf="dataType[col] !== 'date' && dataType[col] === 'boolean'">
	    	<td mat-cell *matCellDef="let element">{{ element[col] === true ?  'Yes' : 'No' }} </td>
		</span>
		<span *ngIf="dataType[col] == 'date'">
	    	<td mat-cell *matCellDef="let element"> {{ element[col] | dateFormat | amDateFormat: 'YYYY-MM-DD HH:mm A' }} </td>
		</span>
	</ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>

</div>